@{
    ViewData["Title"] = "Inicio";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    .text-center {
        max-width: 800px;
        margin: 40px auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .display-4 {
        color: #337ab7;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .font-monospace {
        font-size: 16px;
        color: #666;
        padding: 10px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
    }
</style>

<div class="text-center">
    <h1 class="display-4">PRACTICA 2</h1>
    <div class="text-center">
        <h1 class="display-2">Victor Vargas</h1>
    <p>La estructura de la página está de la siguiente manera. Tenemos un modelo de datos que sería la clase artista la cual contiene la estructura de cómo estará elaborada la vista parcial 2 (artista), donde se le indica los atributos los cuales fueron requeridos por la asignación y luego tenemos el controlador pasatiempo el cual se encarga de asignarle a la página su diferentes valores e estructura de página como por ejemplo la lista de hobbies que está como tipo string y los diferentes valores que se le asigna a los artistas, y por último tenemos las acciones que están asignadas en el controlador las cuales están relacionadas con su respectiva vista en HTML.</p>
    <div class="font-monospace">Cada resultado trae los datos desde el controlador "Pasatiempo", igualmente la pagina tiene un fluid para que se adapte segun el tipo de dispositivo de donde se este visualizando.</div>
</div>
